<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="card">
    <img src="assets/images/utensil.jpg" alt="Denim Jeans" width="150" height="150" style="margin-left: 44px">
    <h3>Prestige Omega</h3>
    <p class="price">₹499</p>
    <p>Non Stick Utensil </p>
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a class='nav-link btn' routerLinkActive='active' [routerLink]="['/buynow']" style="color:white">Buy Now</a>
        </div>
        <div class="col">
          <a class='nav-link btn' routerLinkActive='active' [routerLink]="['/cart']" style="color:white">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>    
</body>
</html>